<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bright Education</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/images/Favicon.ico" alt="Picture of a glowing lightbulb.">
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="/images/Nav-Bar-Icon.png" width="120" height="70">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="BasicNavbar" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            Home
          </a>

          {{#if logged_in}}
          <a href="/view-classes" class="navbar-item">
            Classes
          </a>
          {{/if}}
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a {{#if logged_in}}{{else}} href="/signup" class="button is-primary">
                <strong>Sign up{{/if}}</strong>
              </a>
              <a href="/login" class="button is-light">
                {{#if logged_in}}Logout{{else}}Log in{{/if}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  <main>
    {{{body}}}
  </main>
  </body>
</html>

<script src="js/logout.js"></script>