<body>
    <div class="">
                         
      <section class="section">
        <div class="container">
          <div class="columns is-multiline is-centered">
            <div class="column is-8 has-text-centered">
              
              <h2 class="mt-2 mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">Bright Education</h2>
              <p class="subtitle has-text-grey mb-5">"Education is the passport to the future, for tomorrow belongs to those who prepare for it today." - Malcolm X</p>
              
              <img class="image is-fullwidth" src="images/pexel-header.jpg" alt="">
            </div>
          </div>
        </div>
      </section>
      
      
      <section class="section is-relative"><div class="container">
          <div class="is-vcentered columns is-multiline is-centered">
            <div class="column"></div>
      
            <div class="column is-full is-8-desktop px-5">
              <div class="is-vcentered columns is-multiline">
                <div class="column is-6">
                  <h2 class="mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Who Are We?</h2>
      
                  <p class="subtitle has-text-grey mb-6">Our team of designers and engineers wanted to benefit academic thinkers, to service additional tutoring services locally.
                    Bright Education was designed with Malcolm X's words in mind. 
                    Here, we can exchange our services amongst our community with the help of modern technology.</p>
                </div>
                <div class="column is-6">
                  <img class="mb-5 image is-fullwidth img-fluid" src="images/pexels-tutors.jpg" alt="Team of Tutors">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      <section class="section">
        <div class="container">
          <div class="is-vcentered columns is-multiline">
            <div class="column is-6 is-5-desktop mb-5">
              <img class="image is-fullwidth" src="images/pexels-try-it.jpeg" alt="Services">
            </div>
            <div class="column is-6 ml-auto">
              <div>
                <h2 class="mb-6 is-size-1 is-size-3-mobile has-text-weight-bold">What do we offer?</h2>
                <div class="columns is-multiline">
                  <div class="column is-6 mb-5">
                    
                    <p class="subtitle has-text-grey mb-6">Bright Education offers a digital space for our broader community of qualified tutors to interact, engage with, and provide for our students. 
                    Do you or your child need additional academic assistance?
                    Generate a request and wait for one of our community of tutors to respond in your inbox, or search other requests in our city/town.</p>
                  </div>
              
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
                
      <section class="section">
        <div class="container">
          <div class="is-vcentered columns is-multiline">
            <div class="column is-6">
              <a class="is-inline-block" href="#">
                
              </a>
              
              <p class="is-hidden-mobile">Bright Education</p>
            </div>
            
      </section>
    </div>
</body>
