    </nav>
    <div class="column">
      <h2 class="title pb-4">Create New Account:</h2><hr>
      <form class="signup-form">
        <div>
          <label for="username-signup">username:</label>
          <input type="text" id="username-signup" />
        </div>
        <div>
          <label for="email-signup">email:</label>
          <input type="text" id="email-signup" class="mt-2 ml-5" />
        </div>
        <div>
          <label for="password-signup">password:</label>
          <input type="password" id="password-signup" class="mt-2"/>
        </div>
        <div>
          <button type="submit" class="button is-primary mt-4">Sign up</button>
        </div>
      </form>
      </div>  

<script src="/public/js/signup.js"></script>