    <div id="viewclasses">
          <div class="box cta">
      </div>
      <section class="container cards-container">
        <div class="columns is-centered is-multiline" id="sectioncontainer">
          <div class="column is-narrow" v-for="">
            <article class="message" :class="">
              <div class="message-header">
                <p>{{ teacher }}</p>
                <button class="delete" aria-label="delete" @click=""></button>
              </div>
              <div class="message-body">
                <div class="board-item">
                  <div class="board-item-content" v-for="item in yxy.items"><span>{{ subject }}</span></div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
  <script  src=""></script>
